.order{
    padding-top: 100px;
    padding-bottom: 20px;
    min-height: 100vh;
    background: linear-gradient(90deg, #283048 0%, #859398 100%);
 }
 h1 {
       
    color:#fff;
    font-size: 40px;
    max-width: 80%;
}

.order-price__wrap{
    display: flex;
    justify-content: space-between;
}

.order-price{
    color: #fff;
    font-size: 20;
    width: 40%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
.order-price-old__text{
    position: relative;
    
    width: fit-content;
}
.order-price-old__text::before{
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    position: absolute;
    left: 0;
    top: 50%;
    transform: rotate(45deg);
}
.order-price-old{
    font-size: 20px;
}
.order-price-new{
    margin-left: 20px;
    font-size: 20px;
}
.order-price-new__text{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    white-space: nowrap;
}
.order-price-new__text span{
    padding: 0;
    margin: 0;
    opacity: 1;
    animation: pulse 2s infinite;
}
.order-price-new__text span:nth-child(1){
      animation-delay: .1s;
}
.order-price-new__text span:nth-child(2){
      animation-delay: .2s;
}
.order-price-new__text span:nth-child(3){
      animation-delay: .3s;
}
.order-price-new__text span:nth-child(4){
      animation-delay: .4s;
}


  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    70% {
        opacity: .7;
    }
    100% {
        opacity: 0;
    }
  }





.countdown-title {
    color: #fff;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
   
  .countdown {
    font-family: sans-serif;
    color: #283048;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
   
  .countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    margin-right: 10px;
  }
   
  .countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #ccc;
    display: inline-block;
  }
   
  .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }


  .order-form{
      display: block;
      color: #fff;
      background: rgba(0,0,0, .5);
      padding: 50px;
      margin-top: 100px;
      border-radius: 5px;
      width: fit-content;
  }

  .order__button{
      
      margin-left: 0;
      margin-right: auto;
  }
input{
    padding: 10px 70px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .order-price__wrap{
        display: block;
    }
    .countdown{
        margin-top: 50px;
    }
    .order-price{
        width: 40%;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .order h1{
        font-size: 30px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .countdown {
        font-size: 20px;
       
      } 
      .countdown-number {
        padding: 7px;
      }
      .countdown-time {
        padding: 10px;
      }
      .countdown-text {
        font-size: 12px;
      }
      .order-form{
          padding: 25px;
      }
      input{
        padding: 10px 40px 10px 10px;
      }
}


@media only screen and (max-width : 380px) {
}