.promo{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    //z-index: -100;
    padding-right: 0;
    padding-left: 0;
    
}
.promo__video-wrap{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
}
.promo__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -100;
}
.overlay {
    
    background: rgba(0,0,0,0.6);
    //position: absolute;
    // top:0;
    // left:0;
    width: 100%;
    min-height: 100vh;
    z-index: 400;
    padding: 100px 15% 50px;
    display: flex;
    flex-direction: column;
    
    
    h1 {
       
        color:#fff;
        font-size: 40px;
        max-width: 80%;
    }

    img {
        max-width: 150px;
        //margin-bottom: 30px;
        
    }
     


    .promo__list{
        list-style: none;
       // margin: 0 0 30px;
        padding: 0;
        max-width: 80%;

        .promo__item {
            
            color: #fff;
            font-size: 24px;
            line-height: 30px;
            display: flex;
            align-items: center;
            margin: 15px 0;
            p {
                margin: 0 0 0 10px;

            }
        }
    }

    .promo__button{

        margin-left: 0;
        margin-right: auto;
        z-index: 100;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .overlay{
        padding: 100px calc((100% - 1200px) / 2) 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .overlay {
        padding-left: 20px;
        img{
            max-width: 100px;
        }
    }
    .overlay h1 {
        font-size: 40px;
    }
    .overlay .promo__list .promo__item{
        font-size: 18px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .overlay h1 {
        font-size: 25px;
    }
}
@media only screen and (max-width : 380px) {
    .overlay {
        padding-left: 20px;

        img{
            max-width: 100px;
        }
    }
    .overlay h1 {
        font-size: 20 px;
    }
    .overlay .promo__list .promo__item{
        font-size: 18px;
    }
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
    .promo__video-wrap .promo__video { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .promo__video-wrap .promo__video { width: 300%; left: -100%; }
  }
  /* 2. If supporting object-fit, overriding (1): */
  @supports (object-fit: cover) {
    .promo__video-wrap .promo__video {
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }